div.archive-content{
	width:80%;
}

ul{
	list-style:none;
	padding-left:0;
}

ul.articles{
	margin-top:10px;
}

li.month{
	display:inline-block;
	margin-right: 160px;
	text-decoration:underline;
	margin-bottom:15px;
	
}

li.article{
	text-indent:15px;
}

li{
	display:block;
}